
global
{
	fontSize: 12;
}
Button
{
	upSkin: Embed(source="../org/flowDesign/images/general_links.png");
	overSkin: Embed(source="../org/flowDesign/images/general_links.png");
	downSkin: Embed(source="../org/flowDesign/images/general_links.png");
}
DataGrid
{
	borderSkin: Embed(source="../test/images/borderSkin.png");
	headerBackgroundSkin: Embed(source="../test/images/borderSkin.png");
}
TabNavigator {
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
	tabOffset: 0;
	horizontalAlign: left;
	horizontalGap: 0;
	borderSkin: Embed(source="../test/images/borderSkin.png",scaleGridLeft="2",scaleGridRight="814",scaleGridBottom="6",scaleGridTop="3");
	paddingTop: 10;
	
}
LinkButton
{
	
	fontStyle: normal;
	fontWeight: normal;
	textAlign: center;
	paddingLeft: 0;
	paddingTop: 0;
	paddingRight: 0;
	paddingBottom: 0;
	horizontalGap: 0;
}
TitleWindow
{
	borderSkin: Embed(source="../test/images/信息反馈.png",scaleGridLeft="14",scaleGridTop="27",scaleGridRight="554",scaleGridBottom="291");
	closeButtonUpSkin: Embed(source="../test/images/close_up.png");
	closeButtonOverSkin: Embed(source="../test/images/close_over.png");
	closeButtonDownSkin: Embed(source="../test/images/close_down.png");
	headerHeight: 30;
	paddingTop: 30;
}

.myTabs {
    fillAlphas: 0.64, 0.4;
    fillColors: #006699, #0099ff;
    color: #ffffff;
    textRollOverColor: #aec2ea;
    textSelectedColor: #012f8b;
	upSkin: Embed(source="../test/images/unselected.png");
	overSkin: Embed(source="../test/images/unselected.png");
	downSkin: Embed(source="../test/images/unselected.png");
	selectedUpSkin: Embed(source="../test/images/onselected.png");
	selectedOverSkin: Embed(source="../test/images/onselected.png");
	selectedDownSkin: Embed(source="../test/images/onselected.png");
	overSkin: Embed(source="../test/images/onselected.png");
}